@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 *{
    margin: 0;
    padding: 0;
 }
body{
    background: url('pexels-errin-casano-2356045.jpg');
    background-size:cover;
    font-family: "poppins",sans-serif;
}
   header{
    margin-top: 200px;
    text-align: center;
   }
   input{
    border: 3px solid rgb(33, 171, 196);
    height:40px;
    width:300px;
    border-radius: 50px;
    padding: 0px 10px;
  }
  button{
    border: 3px solid rgb(66, 219, 194);
    height: 30px;
    width: 80px;
    border-radius: 50px;
  }
 article{
  font-family: "poppins",sans-serif;
 }